.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
h1 {
    font-size: 40px;
    color: blue;
    font-style: inherit;
}
li {
    list-style-type: none;
    padding: 30px;
    cursor: pointer;
    color: white;
}

li:hover {
    color: red;
}
.let {
    padding-top: 200px;
}

button {
    background-color: white;
    margin-top: 50px;
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .header {
      width: 100%;
    }
  }