.App {
  background-color: black;
}
.btn {
  background-color: red;
  padding-right: 10px;
  border-radius: 10px;
  border: none;
  color: white;
  margin-left: 20px;
  height: 25px;
  width: 100px;
  cursor: pointer;
}
.thug {
  display: flex;
  flex-direction: row;
}
.bttn {
  background-color: white;
  padding-right: 10px;
  border-radius: 10px;
  border: none;
  color: black;
  width: 100px;
  margin-left: 100px;
  cursor: pointer;
}

.hero {
  height: 500px;
  background-color: aqua;
  background-image: url("./images/movie.jpg");
  background-size: cover;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 70px;
}
p {
  color: white;
  font-size: 50px;
}
.card {
  height: 300px;
  width: 200px;
  background-image: none;
  background-color: white;
  margin: 50px;
  border-radius: 25px;
}
h3 {
  color: blueviolet;
}

@media only screen and (max-width: 400px) {
  /* For mobile phones: */
  .hero, .card, form {
    width: 100%;
  }
}